# Python List

In [3]:
list1 = [1, 2, 3, 4, 5]
list2 = ["a", "b", "c"]
list3 = [1, 'a', 3, 'b', True, 4.5]

print(list1)
print(list2)
print(list3)

[1, 2, 3, 4, 5]
['a', 'b', 'c']
[1, 'a', 3, 'b', True, 4.5]

In [5]:
#Slicing
print(list1[0:5])
print(list1[1:5])
print(list1[:5])
print(list1[::2])

[1, 2, 3, 4, 5]
[2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 3, 5]

## List operation

In [6]:
list1.append(7)

In [7]:
list1

[1, 2, 3, 4, 5, 7]

In [8]:
ICC = ["SA", "ENG", "NZ", "AUS", "BAN", "SL", "PAK", "IND", "AFG"]

In [9]:
ICC.append("NED")

In [10]:
ICC

['SA', 'ENG', 'NZ', 'AUS', 'BAN', 'SL', 'PAK', 'IND', 'AFG', 'NED']

In [11]:
ICC.remove("AFG")

In [12]:
ICC

['SA', 'ENG', 'NZ', 'AUS', 'BAN', 'SL', 'PAK', 'IND', 'NED']

In [13]:
ICC.extend(["ZIM", "IRE", "AFG"])

In [14]:
ICC

['SA',
 'ENG',
 'NZ',
 'AUS',
 'BAN',
 'SL',
 'PAK',
 'IND',
 'NED',
 'ZIM',
 'IRE',
 'AFG']

In [15]:
ICC.pop()

'AFG'

In [16]:
ICC.sort()

In [17]:
ICC

['AUS', 'BAN', 'ENG', 'IND', 'IRE', 'NED', 'NZ', 'PAK', 'SA', 'SL', 'ZIM']

### Looping with Lists

In [19]:
students = ["Ihsanul", "Siam", "Maisha", "Samiul", "Saadi", "Tamanna", "Rifat"]
for name in students:
    print("Hi!", name)

Hi! Ihsanul
Hi! Siam
Hi! Maisha
Hi! Samiul
Hi! Saadi
Hi! Tamanna
Hi! Rifat

# Enumerate in Loop

In [21]:
for index, name in enumerate(students):
    print("Student", index + 1, ":", name)

Student 1 : Ihsanul
Student 2 : Siam
Student 3 : Maisha
Student 4 : Samiul
Student 5 : Saadi
Student 6 : Tamanna
Student 7 : Rifat

In [22]:
#using len for index

In [24]:
for i in range(len(students)):
    print(i)

0
1
2
3
4
5
6

In [25]:
#Appending List
height = [1.75, 1.62, 1.58, 2.57]
weight = [68, 71, 85, 50]
bmi_values = []

for i in range(len(height)):
    bmi = weight[i]/height[i]**2
    bmi_values.append(bmi)
    
print(bmi_values)

[22.20408163265306, 27.053802773967377, 34.049030604069856, 7.5701373222910275]

In [27]:
#round function
height = [1.75, 1.62, 1.58, 2.57]
weight = [68, 71, 85, 50]
bmi_values = []

for i in range(len(height)):
    bmi = round(weight[i]/(height[i]**2), 3)
    bmi_values.append(bmi)
    
print(bmi_values)

[22.204, 27.054, 34.049, 7.57]

# Python Tuples
* Ordered
* Unchangeable
* Allow Duplicates
* Data type 'tuple'

In [29]:
#Accessing tuple items
my_tuple = (1, 2, 3, True, "Hola")
print(my_tuple)
print(my_tuple[3])

(1, 2, 3, True, 'Hola')
True

In [34]:
#Unpacking + Duplicates

ICC = (1,2,4,4)

a,b,c,d = ICC
print(a,b,c,d)

1 2 4 4