# Python Dictionary
* Key : Value pair wise

In [7]:
xiaomi =  {
    "version" : "Redmi Note 11",
    "processor" : "Snapdragon",
    "gpu" : "adreno"
}

xiaomi

{'version': 'Redmi Note 11', 'processor': 'Snapdragon', 'gpu': 'adreno'}

In [8]:
print(xiaomi["version"])

Redmi Note 11

In [12]:
dataque["students"]

['Siam', 'Saadi', 'Maisha']

In [13]:
dataque

{'students': ['Siam', 'Saadi', 'Maisha'],
 'instructors': ['Ihsanul', 'Tamanna'],
 'address': ['Khilkhet', 'Comilla', 'Chittagong']}

In [14]:
for i in dataque["students"]:
    print(i)

Siam
Saadi
Maisha

In [16]:
#adding
dataque["Major"] = ["CSE", "ECE", "EEE"]

In [17]:
dataque

{'students': ['Siam', 'Saadi', 'Maisha'],
 'instructors': ['Ihsanul', 'Tamanna'],
 'address': ['Khilkhet', 'Comilla', 'Chittagong'],
 'Major': ['CSE', 'ECE', 'EEE']}

In [18]:
del dataque["Major"]

In [19]:
dataque

{'students': ['Siam', 'Saadi', 'Maisha'],
 'instructors': ['Ihsanul', 'Tamanna'],
 'address': ['Khilkhet', 'Comilla', 'Chittagong']}

In [20]:
#Dictionary methods

myKey = dataque.keys()
myValue = dataque.values()
myItem = dataque.items()

In [21]:
print(myKey)

dict_keys(['students', 'instructors', 'address'])

In [22]:
print(myValue)

dict_values([['Siam', 'Saadi', 'Maisha'], ['Ihsanul', 'Tamanna'], ['Khilkhet', 'Comilla', 'Chittagong']])

In [23]:
print(myItem)

dict_items([('students', ['Siam', 'Saadi', 'Maisha']), ('instructors', ['Ihsanul', 'Tamanna']), ('address', ['Khilkhet', 'Comilla', 'Chittagong'])])

# Conditional

In [24]:
a = 8

if a > 10:
    print("a is greater than 10")
elif a > 5:
    print("a is greater than 5 but less than 10")
else:
    print("a is not grater than 5")

a is greater than 5 but less than 10