# Intro to Pandas

In [1]:
# Creating DataFrames

import pandas as pd
import numpy as np

data = pd.DataFrame([[1, 4, 9, 5], [6, 7, 8, 9], [12, 14, 5, 6], [7, 8, 9, 7], [5, 6, 7, 8]])

data

    0   1  2  3
0   1   4  9  5
1   6   7  8  9
2  12  14  5  6
3   7   8  9  7
4   5   6  7  8

In [2]:
# Using head function
print(data.head())

    0   1  2  3
0   1   4  9  5
1   6   7  8  9
2  12  14  5  6
3   7   8  9  7
4   5   6  7  8

In [3]:
# Creating the series
series_1 = pd.Series([1, 5, 4, 9, 2, 2, 1])

print(series_1.to_string(index = False))

1
5
4
9
2
2
1

In [4]:
# Shape & length
data.shape

(5, 4)

In [5]:
len(data)

5

# Selecting DataFrame Components

In [7]:
# iloc

import pandas as pd
import numpy as np
array_1 = np.array([[5, 4, 3, 2],
                  [3, 5, 9, 0]])
df = pd.DataFrame(array_1)

In [8]:
# Selecting rows
df.iloc[0:1]

   0  1  2  3
0  5  4  3  2

# Adding Rows, Columns & indices

In [11]:
import numpy as np
import pandas as pd

arr = np.array([["A", "B", "C", "D"], ["E", "F", "G", "H"]])

new_df = pd.DataFrame(arr)

# Set the index
new_df.set_index(1)

   0  2  3
1
B  A  C  D
F  E  G  H

In [12]:
new_df.loc[2] = ["I", "J", "K", "L"]
new_df.loc[3] = ["M", "N", "O", "P"]

In [13]:
new_df

   0  1  2  3
0  A  B  C  D
1  E  F  G  H
2  I  J  K  L
3  M  N  O  P

In [14]:
new_df.loc[:, 4] = pd.Series(["R", "S", "T", "U"])

In [15]:
new_df

   0  1  2  3  4
0  A  B  C  D  R
1  E  F  G  H  S
2  I  J  K  L  T
3  M  N  O  P  U

In [16]:
# Renaming
new_df.rename({3: "Z"}, inplace = True)
new_df.rename(columns = {2: "Y"}, inplace = True)

In [17]:
new_df

   0  1  Y  3  4
0  A  B  C  D  R
1  E  F  G  H  S
2  I  J  K  L  T
Z  M  N  O  P  U